@using BLL.Models.Selectable;
@model SelectableItemViewModel<object>
    

@foreach (var item in (ViewData["ColumnsData"] as List<SelectableTableColumnData>) ?? new List<SelectableTableColumnData>())
{
    @switch (item.CellType)
    {
        case SelectableTableCellType.Label:
            <td>
                @Html.Label($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.{item.PropertyName}", Model.GetValue(item.PropertyName))
                @Html.Hidden($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.{item.PropertyName}", Model.GetValue(item.PropertyName))
            </td>
            break;
        case SelectableTableCellType.ActionLink:
            <td class="selectable-item">
                @Html.ActionLink(Model.GetValue(item.PropertyName), "Index", "MessageDetailsController")
                @Html.Hidden($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.{item.PropertyName}", Model.GetValue(item.PropertyName))
            </td>
            break;
        case SelectableTableCellType.Button:
            <td class="selectable-item">
                @Html.ActionLink(Model.GetValue(item.PropertyName), "Index", "MessageDetailsController")
                @Html.Hidden($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.{item.PropertyName}", Model.GetValue(item.PropertyName))
            </td>
            break;
    }
}
@*<td class="selectable-item">
    @Html.ActionLink(Model.GetValue("Id"), "Index", "MessageDetailsController")
    @Html.Hidden($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.Id", Model.GetValue("Id"))
</td>
<td>
    @Html.Label($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.Name", Model.ItemData.Name)
    @Html.Hidden($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.Name", Model.ItemData.Name)
</td>
<td>
    @Html.Label($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.Type", Model.ItemData.Type)
    @Html.Hidden($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.Type", Model.ItemData.Type)
</td>
<td>
    @Html.Label($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.Description", Model.ItemData.Description)
    @Html.Hidden($"SelectableTableViewModel.Items[{ViewData["IndexInTable"]}].ItemData.Description", Model.ItemData.Description)
</td>*@