@using BLL.Models;
@model SelectableTableViewModel;

<input type="button" value="Click to Check if loged in" onclick="printSelected()" />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Selected</th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
@*        @foreach (var item in Model.SelectableItems)
        {
            //@await Html.PartialAsync("SelectableItem", item);
            <tr id="@item.Id" onclick="calc('@item.Id');">
                <td> <input id="checkbox-@item.Id" type="checkbox" asp-for="@item.Selected" /> </td>
                <td for="@Model.SelectableItems[item.NumberInTable].Id"> @item.Id </td>
                <td name="SelectableTableViewModel.SelectableItems[@item.NumberInTable].Name"> @item.Name </td>
                <td name="SelectableTableViewModel.SelectableItems[@item.NumberInTable].Type"> @item.Type </td>
                <td name="SelectableTableViewModel.SelectableItems[@item.NumberInTable].Description"> @item.Description </td>
            </tr>
        }*@
        @for (int i = 0; i < Model.SelectableItems.Count; i++)
        {
            <tr>
                <td> <input id="checkbox-@Model.SelectableItems[i].Id" type="checkbox" asp-for="@Model.SelectableItems[i].Selected" /> </td>
                <td>
                    <span asp-for="@Model.SelectableItems[i].Id">
                        @Model.SelectableItems[i].Id
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function calc(id) {

        document.getElementById("checkbox-" + id).checked = !document.getElementById("checkbox-" + id).checked


    }

function printSelected() {
    $.ajax({
        url: '/selectable/print',
        cache: false,
        type: "POST",
        success: function (response) {
            if (response && response.data) {
                var data = response.data;
                $('#data')[0].innerHTML = data;
            }
            else {
                $('#data')[0].innerHTML = "Unknown response (" + response + ")";
            }
        }
    });
}
</script>