@using BLL.Models;
@model SelectableItem;

<tr>
    <td> @Html.CheckBox($"SelectableTableViewModel.SelectableItems[{Model.NumberInTable}].Selected", Model.Selected) </td>
    <td> @Html.TextBoxFor(m => m.Id, new { name = $"SelectableTableViewModel.SelectableItems[{Model.NumberInTable}].Id"}) </td>
    <td> @Html.TextBoxFor(m => m.Name, new { name = $"SelectableTableViewModel.SelectableItems[{Model.NumberInTable}].Name"}) </td>
    <td> @Html.TextBoxFor(m => m.Type, new { name = $"SelectableTableViewModel.SelectableItems[{Model.NumberInTable}].Type"}) </td>
    <td> @Html.TextBoxFor(m => m.Description, new { name = $"SelectableTableViewModel.SelectableItems[{Model.NumberInTable}].Description"}) </td>
</tr>